/* Global Styles */
:root {
    --primary-color: #ffffff;
    --secondary-color: #353535;
    --background-color: #121212;
    --font-main: 'Poppins', sans-serif;
    --font-size-base: 16px;
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Main Content */
.container {
    width: 35%;
    max-width: 600px;
    min-width: 450px;
    height: 250px;
    padding: 30px;
    background: #0e0e0ec9;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.0s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Buttons */
.button {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 12px 24px;
    text-decoration: none;
    border-radius: var(--border-radius);
    display: inline-block;
    transition: background var(--transition-speed), transform var(--transition-speed);
    font-weight: bold;
    margin: 5px;
}

.button:hover {
    background: #0e0e0ec9;
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 70%;
        min-width: auto;
        height: auto;
        padding: 20px;
    }
    header {
        font-size: 20px;
    }
}
